<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularJS 测试</title>
    <script src="js/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);

        app.controller("myController",function ($scope) {

            $scope.add = function () {
                return parseInt($scope.x)+parseInt($scope.y);
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="myController">
    x:<input ng-model="x"><br>
    y:<input ng-model="y">

    <br>
    x+y={{add()}}
</body>
</html>